<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LookingGlass.Properties.Settings.rtrd52qkf6p24ebsConnectionString"
            connectionString="server=bmlx3df4ma7r1yh4.cbetxkdyhwsb.us-east-1.rds.amazonaws.com;user id=u5bjygxzfk20gi56;persistsecurityinfo=True;database=rtrd52qkf6p24ebs"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>